body {
    margin: 0;
    min-height: 100vh;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: white;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #202127;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #2a2b32;
}

.footer {
    border-top: 1px solid #3a3b42;
    text-align: center;
    padding: 18px 0;
    font-size: 14px;
    color: #a9a9b3;
    background-color: #202127;
}

.footer p {
    margin: 4px 0;
}

.sfot {
    text-decoration: none;
    color: white;
}

.shortened-link {
    color: #00BFFF;
    text-decoration: none;
    font-weight: bold; 
}

.shortened-link:hover {
    color: #FFFFFF; 
    text-decoration: underline; 
}
